// Footer
footer {
  font: $normal 1.8rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  padding: $padding-half 0px;
  color: $white;
  background: $blue;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0px $padding-half 0px;
    text-align: left; 
  }
  h5 {
    font: $bold 1.8rem/3.0rem $regular;
    margin: 0;
  }
  a {
    color: #a7b5c4;
    &:hover {
      color: $white;
    }
  }
  ul {
    margin: 0;
    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0 0 0;
    }
    li {
      margin: 0 0 10px 0;
      &.heading {
        margin: 0;
      }
      h5 {
        a {
          color: $white;
        }
      }
      ul {
        margin: 0 0 10px 0;
        li {
          margin: 0;
          a {
            background: url('../img/grey_arrow_small.svg') left center no-repeat;
            padding-left: 15px;
          }
        }
      }
    }
  }
  .about {
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
    svg {
      max-width: 60%;
      display: block;
      margin: 0px auto 20px auto;
      @media (min-width: $breakpoint-tablet) {
        margin: 0px 0px 20px -15%;
        max-width: 90%;
      }
    }
    p {
      margin-bottom: 10px;
    }
    a {
      text-decoration-color: $coral;
    }
    ul.social-icons {
      margin: 20px 0;
      li {
        display: inline-block;
        svg {
          width: 40px;
          margin: 0px auto;
          path {
            fill: $white;
          }
        }
      }
    }
  }
  .address {
    margin-top: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
  }
  .end_links {
    color: $light-blue;
    font: $normal 1.4rem/2.8rem $regular;
    margin: $padding-half 0 0 0;
    border-top: 1px solid $white;
    padding: $padding-half 0;
    text-align: center;
    a, strong, span.registered {
      padding: 5px 15px;
    }
  }
}
a.back_to_top {
  border: 1px solid $white;
	display: none;
	width: 45px;
	height: 45px;
	text-indent: -9999px;
	position: relative;
	z-index: 999;
	float: right;
	top: 0;
	background: $blue url("../img/back_to_top.svg") no-repeat center center;
	@include border-radius(50%);
	@media (max-width: $breakpoint-tablet) {
  	display: none !important;
  }
}