// Footer
footer {
  position: relative;
  overflow-wrap: break-word;
  padding: $padding-half 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0px;
  }
  color: $white;
  background: $blue;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    text-align: left;  
  }
  h4 {
    font: $normal 2.8rem/3.6rem $regular;
    margin-bottom: 20px;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .about {
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
    svg {
      max-width: 70%;
      display: block;
      margin: 0px auto 20px auto;
      
      @media (min-width: $breakpoint-tablet) {
        margin: 0px 0px $padding-half 0px;
        max-width: 100%;
      }
    }
    a.button {
      &.fb {
        color: $black;
        display: inline-block;
        background: $blue url('../img/fb_icon.svg') no-repeat 15px center;
        padding: 15px 30px 15px 50px;
        &:hover {
          background: #3a5899 url('../img/fb_icon_hover.svg') no-repeat 15px center;
          &:before {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
          }
        }
        
      }
    }
  }
  ul#menu-footer {
    margin-top: 40px;
    display: inline-block;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
  .address {
    margin-top: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
  }
}
a.back_to_top {
  border: 1px solid $white;
	display: none;
	width: 45px;
	height: 45px;
	text-indent: -9999px;
	position: relative;
	z-index: 999;
	float: right;
	top: 0;
	background: $blue url("../img/back_to_top.svg") no-repeat center center;
	@include border-radius(50%);
	@media (max-width: $breakpoint-tablet) {
  	display: none !important;
  }
}