
// Header
.fixed_header {
  position: fixed;
  width: 100%;
  top:0px;
  z-index: 9999;
}
header {
  &.menu {
    background: $blue;
  }
  &.logo_secondary_menu {
    // overflow: hidden;
    background: $white;
    -moz-box-shadow: 0px 5px 15px rgba(14,94,164, 0.15);
    box-shadow: 0px 5px 15px rgba(14,94,164, 0.15);
  }

  .logo {
    .site-title {
      margin: 15px 0px 25px 0px;
      line-height: 0;
      svg {
        height: 50px;
        width: auto;
        @media (min-width: $breakpoint-tablet) {
          height: 80px;
          width: auto;
          margin-left: -14%;
        }
      }
    }
  }
  
  nav.primary {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
    font: $normal 1.8em/3rem $regular;
    letter-spacing: 0.1rem;
    ul {
      // display: none;
      line-height:1em;
      @media (min-width: $breakpoint-desktop) {
        display: block;
      } 
      li {
        display: inline-block;
        // padding: 45px 5px;
        &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-post-ancestor a, &.current-menu-parent a, &.current-category-ancestor a, &.current_page_parent a, &:hover a {
          color: $blue;
          background: $white;
          padding: 15px 10px;
        }
        a {
          font: $normal 1.6rem/3.0rem $regular;
          @include transition(all 0.2s ease-out);
          line-height:1em;
          display: block;
          color: $white;
          text-decoration: none;
          padding: 15px 10px;
          text-transform: uppercase;
        }
      }
    }
  }
  
  .extras {
    display: none;
    float: right;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
    ul.social-icons {
      display: none;
      @media (min-width: $breakpoint-desktop) {
        display: block;
      }
      line-height: 0;
      margin: 8px 0;
      float: right;
      li {
        line-height: 0;
        display: inline-block;
        a {
          line-height: 0;
          margin: 0;
          padding: 0;
          display: block;
        }
        svg {
          width: 30px;
          height: auto;
          margin: 0px auto;
          path {
            fill: $white;
          }
        }
      }
    }
    .searchbox {
      float: right;
      margin: 6px 0px 6px 20px;
      input#search {
        float: left;
        width: 120px;
        padding: 5px 0;
        color: #fff;
        background: $blue;
        border: none;
        border-bottom: 1px solid #fff;
        -moz-appearance: none;
        -webkit-appearance: none;
        font: $normal 1.4rem/1.8rem $regular;
        &::placeholder {
          color: $white;
        }
      }
      input.search-submit {
        font: $normal 1.4rem/1.8rem $regular;
        width: 30px;
        float: left;
        margin: 0;
        line-height: 1.9rem;
        background: transparent url('../img/search_small.svg') right center no-repeat;
        text-indent: -99999px;
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding: 5px 0;
        
      }
    }
  }
  
  nav.secondary {
    font: $normal 1.8rem/3rem $regular;
    float: right;
    padding: 55px 0 0 0;
    @media (max-width: $breakpoint-desktop) {
      display: none;
    }
    ul {
      display: none;
      float: right;
      line-height:1em;
      @media (min-width: $breakpoint-tablet) {
        display: inline-block;
      } 
      li {
        display: inline-block;
        &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-post-ancestor a, &.current-menu-parent a, &.current-category-ancestor a, &.current_page_parent a { 
          color: $blue;
          margin: 15px 20px;
          font-weight: bold;
        }
        &:hover a {
          color: $blue;
          margin: 15px 20px;
        }
        &.current-page-ancestor.menu-item-229 a {
          font-weight: normal;
        }
        a {
          font: $normal 1.8rem/3.0rem $regular;
          @include transition(all 0.2s ease-out);
          line-height:1em;
          display: block;
          color: $blue;
          text-decoration: none;
          margin: 15px 20px;
        }
        &.menu-item-has-children {
          a {
            background: url('../img/menu_arrow.svg') right center no-repeat;
            padding-right: 20px;
          }
          ul {
            li {
              display: block;
              a {
                text-transform: none;
                font: $normal 1.8rem/2rem $regular;
                color: $blue;
                padding: 20px;
                margin: 0;
                border-bottom: none;
                background: none;
              }
              &:last-child {
                border-bottom: none;
              }
              &:hover a, &.current-menu-item a, &.current_page_item a {
                color: $blue;
                font-weight: bold;
                background: $light-blue;
                @include border-radius(10px);
              }
            }
          }
        }
        &.tests {
          ul {
            left: 0;
            min-width: auto;
            display: inline-block;
            background: $white;
            border: 1px solid $border;
            letter-spacing: 0px;
            padding: 30px 0px;
            @include border-radius(10px);
            li {
              padding: 0px 2%;
              width: 20%;
              border-right: 1px solid #e8eaed;
              border-bottom: none;
              a {
                background: none;
                padding: 0;
                margin: 0 0 10px 0;
                font-weight: bold;
              }
              &:last-child {
                border-right: none;
                border-bottom: none;
              }
              &:hover a, &.current-menu-item a, &.current_page_item a {
                color: $blue;
                font-weight: bold;
                background: transparent;
                text-decoration: underline;
                text-decoration-color: $coral;
                @include border-radius(0px);
              }
            }
            li.predictive, li.diagnostic, li.targeted, li.paldi {
              display: inline-block;
              font: $bold 2.2rem/1.8rem $regular !important;
              &:before {
                content: "";
                height: 60px;
                width: 60px;
                display: inline-block;
                float: left;
                margin-right: 20px;
              }
              &:after {
                font: $normal 1.6rem/2.4rem $regular !important;
                margin-left: 50px;
                display: table; 
              }
            }
            li.predictive {
              &:before {
                background: url('../img/predictive_round.svg') left center no-repeat;
                background-size: cover;
              }
              &:after {
                content: "Determine your patient’s risk of developing non-cancerous diseases.";
              }
            }
            li.diagnostic {
              &:before {
                background: url('../img/diagnostic_round.svg') left center no-repeat;
                background-size: cover;
              }
              &:after {
                content: "Accurately diagnose Lyme Disease and chronic fatigue syndrome.";
              }
            }
            li.targeted {
              &:before {
                background: url('../img/targeted_round.svg') left center no-repeat;
                background-size: cover;
              }
              &:after {
                content: "Accurate screenings to determine your patient’s response to treatment.";
              }
            }
            li.paldi {
              &:before {
                background: url('../img/paldi_round.svg') left center no-repeat;
                background-size: cover;
              }
              &:after {
                content: "Reliable tests to identify your patient’s strain of Lyme disease.";
              }
            }
          }
        }
      }
    }
    a.button {
      float: right;
      padding-right: 60px;
      margin: 0 0 0 15px;
    }
  }
  a.menu-toggle {
    display: block;
    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
    height: 30px;
    width: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    position: absolute;
    top: 35px;
    @media (min-width: $breakpoint-tablet) {
      top: 60px;
    }
    right: 20px;
    cursor: pointer;
    z-index: 30;
    span{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $blue;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      &:nth-child(1) {top: 0px;}
      &:nth-child(2), &:nth-child(3) {top: 8px;}
      &:nth-child(4) {top: 16px;}
    }
    &.open {
      span{
        background-color: $blue !important;
        &:nth-child(1), &:nth-child(4) { opacity: 0; }
        &:nth-child(2) {transform: rotate(45deg);}
        &:nth-child(3) {transform: rotate(-45deg);}
      }
    }
  }
}

nav.mobile {
  display: none;
  position: fixed;
  top: 90px;
  @media (min-width: $breakpoint-tablet) {
    top: 166px;
  }
  background: $white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  ul {
    text-align: left;
    margin: 10px 0px;
    padding: 0px 20px;
    li {
      text-align: left;
      display: block;
      // margin: 10px 0px;
      &.current_page_item a, &.current-menu-item a, &.current-page-ancestor a, &.current-post-ancestor a, &.current-menu-parent a, &.current-category-ancestor a, &.current_page_parent a, &:hover a {
        font: $normal 1.8rem/1.8rem $regular !important;
        color: $blue;
        padding: 15px 0px;
        border-bottom: 1px solid #e1e1ff;
        font-weight: bold;
      }
      a {
        font: $normal 1.8rem/1.8rem $regular !important;
        @include transition(all 0.2s ease-out);
        line-height: 1.4rem;
        display: block;
        color: $mid-blue;
        text-decoration: none;
        margin: 0px 10px;
        padding: 15px 0px;
        border-bottom: 1px solid #e1e1ff;
        margin-right: 50px;
      }
      &:nth-last-child(2), &:last-child {
        a {
          border-bottom: none;
        }
      }
      &.menu-item-has-children {
        position: relative;
        a {
          margin-right: 50px;
          
        }
        .sub-toggle {
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;
          margin: auto;
          padding: 20px;
          background: url('../img/blue_arrow.svg') center center no-repeat;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          &.open {
            background: url('../img/blue_arrow.svg') center center no-repeat;
            transform-origin: center center;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
        li {
          a {
            background: none;
          }
        }
      }
      &.current_page_parent.menu-item-has-children {
        .sub-toggle {
          background: url('../img/blue_arrow.svg') center center no-repeat;
          transform-origin: center center;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          &.open {
            background: url('../img/blue_arrow.svg') center center no-repeat;
            transform-origin: center center;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
        }
        ul.sub-menu {
          display: block;
        }
      }
      ul.sub-menu {
        display: none;
        margin: 0 0px 0 10px;
        padding: 0;
        li {
          padding-left: 10px;
          a {
            
          }
        }
        &:nth-last-child(2), &:last-child {
          a {
            border-bottom: 1px solid #e1e1ff;
          }
        }
      }
      &.button {
        padding: 0;
        margin: 10px;
        display: inline-block;
        font: $bold 1.6rem/1.6rem $regular;
        a {
          color: $white;
          font: $bold 1.6rem/1.6rem $regular !important;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
          padding: 15px 80px 15px 20px;
          margin: 5px 10px 5px 0;
          text-decoration: none;
          text-transform: uppercase;
          -webkit-transition: all ease .5s;
          -moz-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  ul.social-icons {
    line-height: 0;
    margin: 0 10px 20px 10px;
    li {
      line-height: 0;
      display: inline-block;
      a {
        line-height: 0;
        margin: 0;
        padding: 0;
        display: block;
        border-bottom: none;
      }
      svg {
        width: 35px;
        height: auto;
        margin: 0px auto;
      }
    }
  }
}

@mixin invisible() {
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.5s, visibility linear 0.5s;
}

@mixin visible() {
  visibility: visible;
  opacity: 1;
  transition: opacity linear 0.5s, visibility linear 0.5s;
}

nav.secondary ul ul {
  position: absolute;
  top: 100px;
  z-index: 9999;
  background: $white;
  margin: 0;
  min-width: 200px;
  background: $white;
  border: 1px solid $border;
  letter-spacing: 0px;
  @include border-radius(10px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  @include invisible();
  opacity: 0;
  visibility: hidden;
}

nav.secondary ul li:hover > ul {
  @include visible();
  opacity: 1;
  visibility: visible;
}

