/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button primary reversed">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>
<a href="#" class="button secondary reversed">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 100px 15px 20px;
  font: $bold 1.6rem/1.6rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  &.primary {
    color: $mid-blue;
    border: 2px solid $mid-blue;
    @include border-radius(10px);
    background: url('../img/blue_arrow.svg') right 15px center no-repeat ;
    &:hover {
      color: $white;
      background: $mid-blue url('../img/white_arrow.svg') right 15px center no-repeat ;
      text-decoration: none;
    }
  }
  &.secondary {
    background: transparent;
    color: $white;
    border: 2px solid $white;
    @include border-radius(10px);
    background: url('../img/white_arrow.svg') right 15px center no-repeat;
    &:hover {
      color: $mid-blue;
      background: $white url('../img/blue_arrow.svg') right 15px center no-repeat ;
      text-decoration: none;
    }
  }
}