/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button, .nf-form-layout form input[type=button] {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 80px 15px 20px;
  margin: 5px 10px 5px 0;
  font: $bold 1.6rem/1.6rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  &.primary {
    color: $blue;
    border: 1px solid $blue;
    @include border-radius(10px);
    background: url('../img/blue_arrow.svg') right 15px center no-repeat ;
    &:hover {
      color: $white;
      background: $blue url('../img/white_arrow.svg') right 20px center no-repeat ;
      text-decoration: none;
    }
  }
  &.secondary, .nf-form-layout form input.secondary[type=button] {
    color: $white;
    border: 1px solid $white;
    @include border-radius(10px);
    background: transparent url('../img/white_arrow.svg') right 15px center no-repeat;
    &:hover {
      color: $blue;
      background: $white url('../img/blue_arrow.svg') right 20px center no-repeat;
      text-decoration: none;
    }
  }
  &.filled {
    color: $white;
    border: 1px solid $blue;
    @include border-radius(10px);
    background: $blue url('../img/white_arrow.svg') right 15px center no-repeat;
    &:hover {
      background: $blue url('../img/white_arrow.svg') right 20px center no-repeat;
    }
    &.white {
      color: $blue;
      border: 1px solid $white;
      background: $white url('../img/blue_arrow.svg') right 15px center no-repeat;
      &:hover {
        background: $white url('../img/blue_arrow.svg') right 20px center no-repeat;
      }
    }
  }
}