/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button primary reversed">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>
<a href="#" class="button secondary reversed">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 100px 15px 20px;
  font: $normal 1.6rem/1.6rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  &.primary {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
    @include border-radius(10px);

  }
  &.secondary {
    background: transparent;
    color: $white;
    border: 1px solid $white;
    @include border-radius(10px); 
  }
}