// About

.about_intro {
  padding: $padding-half 0;
  background: $light-blue;
}

.full-width {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    
    @media (max-width: $breakpoint-tablet) {
      // width: 100%;
      padding: 0;
    }
  }
}

.about_aims {
  z-index: 1;
  padding: $padding-half;
  font: $normal 2.0rem/3.0rem $regular;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding $padding $padding 0;
    margin-bottom: 0;
  }
  ul {
    li {
      
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid $border;
      margin: 0;
      clear: both;
      overflow: hidden;
      svg {
        @include border-radius(50%);
        background: $coral-tint;
        float: left;
        height: 50px;
        width: 50px;
        margin-right: 20px;
      }
    }
  }
}

.about_image {
  content: "";
  height: auto;
  min-height: 540px;
}

.about_test_intro {
  padding: $padding-half 0;
  background: $light-blue;
  text-align: center;
  p {
    font: $normal 2.4rem/3.2rem $regular;
  }
  
}

.about_test_intro + .test_cta {
  border-bottom: 1px solid $white;
}