// Conditions
.health_conditions {
  padding: $padding 0;
  .container {
    border-top: 1px solid $border;
  }
  .block__title {
    padding: $padding-half 0;
    @media (min-width: $breakpoint-tablet) {
      padding: $padding 0 $padding-half;
    }
    text-align: center;
    h3 {
      font: $bold 4.2rem/4.4rem $regular;
      margin-bottom: 20px;
    }
    p {
      font: $normal 2.4rem/3.6rem $regular;
    }
  }
}

.order_test + .health_conditions { // Fix padding when next to predictive test
  padding: 0 0 $padding 0;
  .container {
    border-top: 0px solid transparent;
  }
}

.fixed_header + .health_conditions {
  margin-top: 80px;
  .container {
    border-top: 0px solid transparent;
  }
}

section.post + .health_conditions {
  padding: 0 0 $padding 0;
  
}

// Block for listing all conditions
.block__conditions {
  @include border-radius(10px);
  padding: 20px 40px;
  border: 1px solid $border;
  -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
  -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
  box-shadow: 0px 15px 20px -3px #e6ecf0;
  article {
    clear: both;
    border-bottom: 1px solid $border;
    padding: 15px 0px;
    .title {
      font: $normal 2.2rem/4.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/4.4rem $regular;
      }
      overflow: hidden;
      color: $blue;
      svg {
        @include border-radius(50%);
        background: $coral-tint;
        float: left;
        height: 50px;
        width: 50px;
        margin-right: 20px;
      }
    }
    &:first-child {
      padding: 0 0 15px 0;
    }
    &:last-child {
      padding: 15px 0 0 0;
      border-bottom: none;
    }
  }
}

// Conditions Single Page
.condition {
  margin-top: 140px;
  padding: $padding 0;
  .content {
    p:first-child {
      font: $normal 2.4rem/3.4rem $regular !important;

    }
  }
  .breadcrumbs {
    margin-bottom: 20px;
    font: $normal 1.8rem/2.8rem $regular;
    svg {
      margin: 0px 10px;
      height: 12px;
    }
  }
}

.condition_image {
  @include border-radius(50%);
  background: $coral-tint;
}

// Genetic Test 
.order_test {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  background: $light-blue;
  .test_content {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      font: $bold 3.6rem/4.6rem $regular;
    }
    p {
      font: $normal 2.4rem/3.4rem $regular;
    }
    .text {
      margin-bottom: $padding-half;
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0; 
      }
    }
  }
}

// Test CTA
.test_cta {
  background: $blue;
  color: $white;
  padding: $padding-half 0;
  font: $normal 2.6rem/3.6rem $regular;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      font: $bold 3.6rem/4.6rem $regular;
    }
    p {
      font: $normal 2.4rem/3.4rem $regular;
    }
  }
}

// Related Documents
.related {
  margin: $padding-half 0 0 0;
  .content {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
  h3 {
    color: $black;
    font: $normal 2.2rem/3.4rem $regular;
    
  }
  ul {
    color: $blue;
    margin: 0;
    li {
      margin: 0px;
      padding: 15px 0px;
      list-style: none;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: 0px solid $border;
      }
      a {
        background: url('../img/document_icon.svg') center left no-repeat;
        background-size: contain;
        color: $blue;
        text-decoration: underline;
        text-decoration-color: $coral;
        border-bottom: none;
        padding-left: 40px;
        display: block;
        position: relative;
        &:hover {
          color: $coral;
        }
        &:after {
          background: url('../img/blue_arrow.svg') center right no-repeat;
          content: "";
          position: absolute;
          height: 35px;
          width: 30px;
          right: 10px;
        }
      }
      &.link {
        a {
          background: url('../img/link_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
      &.pdf {
        a {
          background: url('../img/pdf_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

// Know More
.know_more {
  background: $white-bg;
  padding: 60px 0 0 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 60px 0 60px 0;
  }
  .more_intro {
    clear: both;
    padding: 0 0 20px 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0 0 60px 0;
    }
    h4 {
      font: $bold 4.2rem/4.4rem $regular;
      text-align: center;
      color: $blue;
    }
  }
  .more_block {
    @include border-radius(10px);
    padding: 30px;
    background: $white;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    text-align: center;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0; 
    }
    h5 {
      font: $bold 2.6rem/4.4rem $regular;
      color: $blue;
    }
  }
}

// Health Conditions Accordion
.accordionItemHeading {
  color: $black;
  font: $normal 2.0rem/3.4rem $regular;
  cursor:pointer;
  position: relative;
  .content {
    max-width: 90%;
  }
  &:before {
    content: "";
    background: url('../img/grey_arrow.svg') 0 0 no-repeat;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 10px;
    top: 10px;
    height: 32px;
    width: 20px;
    position: absolute;
  }
}

.open .accordionItemHeading {
  border-bottom: none;
  position: relative;
  &:before {
    content: "";
    background: url('../img/grey_arrow.svg') 0 0 no-repeat;
    transform-origin: center center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation:spin 0.2s linear forwards;
    -moz-animation:spin 0.2s linear forwards;
    animation:spin 0.2s linear forwards;
  } 
}

.close .accordionItemHeading {
  &:before {
    transform-origin: center center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation:return 0.2s linear forwards;
    -moz-animation:return 0.2s linear forwards;
    animation:return 0.2s linear forwards;
  }
}

@keyframes spin { 
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  } 
}

@keyframes return {
  0% {
    transform-origin: center center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% { 
    transform-origin: center center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 
}

.close .accordionItemContent{
  height:0px;
  transition:height 10s ease-out;
  -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
  float:left;
  display:block;   
  opacity: 0;
}
.open .accordionItemContent{
  margin: 0px 0px 10px 0px;
  padding: 20px 0;
  display:block;
  -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
  -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	opacity: 1;
	-webkit-transition: opacity linear 0.2s;
	-o-transition: opacity linear 0.2s;
	-ms-transition: opacity linear 0.2s;
	transition: opacity linear 0.2s;
	transition-delay: 0.2s;
  box-sizing: border-box;
  .content {
    max-width: 90%;
  }
  img {
    margin-bottom: 30px;
  }
}