.faq_page {
  margin-top: 90px;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 160px;
    padding: $padding 0;
  }
  .filter {
    h1 {
      font: $bold 4.0rem/4.5rem $regular;
      margin-bottom: 10px;
    }
    p {
      font: $normal 2.4rem/3.8rem $regular;
    }
  }
  .accordionItem {
    margin: 10px 0px;
    background: $white;
    padding: 20px 30px;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    @include border-radius(10px);
    .title {
      color: $blue;
      font: $normal 2.2rem/4.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/4.4rem $regular;
      }
      overflow: hidden;
      color: $blue;
    }
  }
  .pagination {
    .nav-links {
      text-align: center;
      font: $bold 1.6rem/2.2rem $regular;
      span.current {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        width: 20px;
        background: $blue;
        @include border-radius(10px);
        border: 1px solid $blue;
        color: $white;
      }
      a.page-numbers {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        width: 20px;
        background: $white;
        @include border-radius(10px);
        border: 1px solid $blue;
        color: $blue;
        text-decoration: none;
        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }
}

.footer_faq {
  .container {
    border-top: 1px solid $border;
    padding-top: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      padding-top: $padding;
    }
  }
  padding: $padding-half 0;
  background: $light-blue;
  .filter {
    text-align: center;
    padding-bottom: 30px;
    h2 {
      font: $bold 4.0rem/4.5rem $regular;
      margin-bottom: 30px;
    }
  }
  .accordionItem {
    margin: 10px 0px;
    background: $white;
    padding: 20px 30px;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    @include border-radius(10px);
    .title {
      color: $blue;
      font: $normal 2.2rem/4.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/4.4rem $regular;
      }
      overflow: hidden;
      color: $blue;
    }
  }
  .answer {
    text-align: center;
    padding-top: $padding-half;
  }
}

#footer-faq-search, #archive-faq-search {
  color: $blue;
  width: 85%;
  font: $normal 1.8rem/2.6rem $regular;
  @media (min-width: $breakpoint-tablet) {
    font: $normal 2.2rem/3.4rem $regular;
  }
  @include border-radius(15px 0 0 15px);
  background: $white url('../img/search.svg') left 20px center no-repeat ;
  border: 1px solid #bbc6d4;
  border-right: 0px solid $white;
  padding: 10px 30px 10px 60px;
  &:focus {
    border: 1px solid $coral;
  }
}

#faq-search-submit, #archive-faq-submit {
  position: absolute;
  width: 50px;
  padding: 10px 0;
  background: $white url('../img/blue_arrow.svg') right 20px center no-repeat;
  border: 1px solid #bbc6d4;
  border-left: 0px solid $white;
  font: $normal 1.8rem/2.6rem $regular;
  @media (min-width: $breakpoint-tablet) {
    font: $normal 2.2rem/3.4rem $regular;
  }
  @include border-radius(0 15px 15px 0);
  cursor: pointer;
}

.faq-archive {
  .no_results, #loader {
    text-align: center;
    margin: 20px 0px;
    font: $normal 2.2rem/3.4rem $regular;
    display: inline-block;
    width: 100%;
  }
}


.category-buttons {
  margin: 30px 0px;
  box-sizing: border-box;
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3rem;
    margin: 0;
    cursor: pointer;
    &:checked + label {
      background: $blue;
      color: $white;
      border: 1px solid $blue;
    }
  }
  label {
    text-align: center;
    min-width: 80px;
    font: bold 1.4rem/2.6rem $regular;
    cursor: pointer;
    display: inline-block;
    background: $white;
    color: $blue;
    padding: 10px 20px;
    border: 1px solid $blue;
    text-transform: uppercase;
    @include border-radius(10px);
    margin-right: 10px;
    &:hover {
      background: $blue;
      color: $white;
      border: 1px solid $blue;
    }
  }
  .button_wrapper {
    display: inline-block;
    position: relative;
  }
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 20px;
  margin: 20px auto 0px auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
