.faq_archive {
  margin-top: 140px;
  padding: $padding 0;
  .filter {
    h2 {
      font: $bold 4.0rem/4.5rem $regular;
    }
  }
  .accordionItem {
    margin: 10px 0px;
    background: $white;
    padding: 20px 30px;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    @include border-radius(10px);
    .title {
      color: $blue;
      font: $normal 2.2rem/4.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/4.4rem $regular;
      }
      overflow: hidden;
      color: $blue;
    }
  }
}

.footer_faq {
  .container {
    border-top: 1px solid $border;
    padding-top: $padding;
  }
  padding: $padding-half 0;
  background: $light-blue;
  .filter {
    text-align: center;
    padding-bottom: $padding-half;
    h2 {
      font: $bold 4.0rem/4.5rem $regular;
    }
  }
  .accordionItem {
    margin: 10px 0px;
    background: $white;
    padding: 20px 30px;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    @include border-radius(10px);
    .title {
      color: $blue;
      font: $normal 2.2rem/4.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/4.4rem $regular;
      }
      overflow: hidden;
      color: $blue;
    }
  }
  .answer {
    text-align: center;
    padding-top: $padding-half;
  }
}