// Individuals

.illustration_steps {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  .title {
    text-align: center;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      align-items: flex-start;
      justify-content: flex-start;
      .step_image {
        max-width: 30%;
        padding-right: 5%;
      }
    }
    @media (max-width: $breakpoint-tablet) {
      margin: 20px 0px;
    }
    .step_text {
      strong {
        font: $normal 6.0rem/6rem $regular;
        color: $coral;
        letter-spacing: 0.5rem;
        margin-bottom: 10px;
        display: block;
      }
      h2 {
        font: $bold 2.6rem/3.4rem $regular;
      }
    }
    &:nth-child(odd) {
      .step_image {
        order: 2;
        @media (max-width: $breakpoint-tablet) {
          order: 1; 
        }
      }
      .step_text {
        order: 1;
        @media (max-width: $breakpoint-tablet) {
          order: 2; 
        }
      }
    }
    
  }
}

// Test CTA
.health_cta {
  background: $blue;
  color: $white;
  padding: $padding-half 0;
  font: $normal 2.6rem/3.6rem $regular;
  .container {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    h3 {
      font: $bold 3.6rem/4.6rem $regular;
    }
    p {
      font: $normal 2.4rem/3.4rem $regular;
    }
    .text {
      margin-bottom: $padding-half;
      @media (min-width: $breakpoint-tablet) {
        margin-bottom: 0; 
      }
    }
    a {
      color: $white;
      &:hover {
        color: $coral;
      }
    }
  }
}

.health_cta + .footer_faq {
  padding: 0 0 60px 0;
  .container {
    padding-top: 60px;
  }
}