// Individuals

.illustration_steps {
  padding: $padding 0;
  .title {
    text-align: center;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    .step_text {
      strong {
        font: $normal 6.0rem/6rem $regular;
        color: $coral;
        letter-spacing: 0.5rem;
        margin-bottom: 10px;
        display: block;
      }
      h2 {
        font: $bold 2.6rem/3.4rem $regular;
      }
    }
    &:nth-child(odd) {
      .step_image {
        order: 2;
      }
      .step_text {
        order: 1;
      }
    }
  }
}