// Ordering

.medical_form {
  padding: 20px;
  @include border-radius(10px);
  border: 1px solid $border;
  font: $normal 1.6rem/3.0rem $regular !important;
  margin: 20px 0 0 0;
  background: $light_blue;
}
.woocommerce-MyAccount-navigation {
  ul {
    font-size: 0;
    margin: 10px 0;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    li {
      display: block;
      font: $bold 1.8rem/2.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        float:left;
      }
      margin: 0 10px;
      &:first-child {
        margin: 0 10px 0 0;
      }
      a {
        
      }
      &.is-active, &:hover {
        a {
          color: $coral;
          text-decoration: none;
        }
      }
    }
  }
}
.woocommerce-MyAccount-content {
  padding: 30px;
  @include border-radius(10px);
  border: 1px solid $border;
  background: $white;
  overflow-y: hidden;
  -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
  -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
  box-shadow: 0px 15px 20px -3px #e6ecf0;
  strong {
    font-weight: 600;
  }
  address {
    font: $normal 1.8rem/2.4rem $regular;
    margin-bottom: 20px;
  }
  header {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    h3 {
      margin-bottom: 0;
      float: left;
    }
  }
  a.edit {
    font: $normal 1.4rem/1.8rem $regular;
    float: left;
    margin-left: 10px;
  }
  form {
    p {
      margin-bottom: 20px !important;
    }
    label {
      display: block;
      color: $black !important;
      margin-bottom: 10px;
    }
    input {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
    }
    span em {
      margin: 10px 0;
      display: block;
      font: $normal 1.6rem/2.4rem $regular;
      color: #7693ab;
    }
    legend {
      margin-bottom: 20px;
    }
  }
}

// My Account Login/Register
#customer_login {
  .col-1, .col-2 {
    @media (min-width: $breakpoint-desktop) {
      width: 48%;
      float: left;
    }
    overflow: hidden;  
    padding: 30px;
    background: $white;
    @include border-radius(10px);
    border: 1px solid $border;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    p.form-row {
      margin-bottom: 0;
    }
    .woocommerce-form-login, .woocommerce-form-register {
      margin: 0;
      padding: 0;
      border: none;
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        margin: 5px 0 10px 0;
      }
    }
    input[type="checkbox"] {
      margin: 0px 5px 0px 0px !important;
      width: auto;
    }
    label.woocommerce-form__label-for-checkbox {
      font: $normal 1.6rem/2.4rem $regular;
    }
  }
  .col-1 {
    margin-right: 4%;
    @media (max-width: $breakpoint-desktop) {
      margin-bottom: 40px;
      margin-right: 0%;
    }
    p {
      font: $normal 1.6rem/2.4rem $regular;
    }
  }
  .col-2 {
    p {
      font: $normal 1.6rem/2.4rem $regular;
      margin-bottom: 20px;
    }
    .mailchimp-newsletter {
      margin: 0px 0px 20px 0px;
    }
    #mailchimp-gdpr-fields {
      p {
        margin-bottom: 0;
      }
    }
  }
}

// Slideout Cart
.woofc-area {
  font-family: $regular !important;
  color: $blue !important;
  .woofc-area-top {
    background: $blue !important;
    color: $white !important;
    text-transform: none !important;
    font: $bold 2.0rem/3.2rem $regular !important;
    padding: 10px 60px 10px 20px !important;
    height: auto !important;
  }
  .woofc-item-remove, .woofc-no-item {
    color: $blue !important;
  }
  .woofc-item-info .woofc-item-title, .woofc-item-info .woofc-item-title a {
    color: $blue !important;
  }
  .woofc-item.woofc-item-undo .woofc-item-inner {
    border: 1px solid $blue !important;
    color: $blue !important;
    a {
      color: $blue !important;
    }
  }
  .woofc-area-bot {
    .woofc-total {
      color: $blue !important;
    }
  }
  .woofc-action {
    a {
      height: auto !important;
      cursor: pointer;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      padding: 15px 20px 15px 20px !important;
      margin: 5px 0px;
      font: $bold 1.6rem/1.6rem $regular !important;
      text-decoration: none;
      text-transform: none !important;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
      color: $white !important;
      border: 2px solid $blue !important;
      float: right;
      background: $blue !important;
      &:hover {
        color: $blue !important;
        background: $white !important;
      }
    }
  }
  .woofc-continue {
    span {
      color: $blue !important;
      border-bottom: 1px solid $blue !important;
    }
  }
}

.test_navigation {
  background: #e6eaef;
  padding: 10px;
  margin-top: 90px;
  @media (min-width: $breakpoint-desktop) {
    margin-top: 166px;
  }
  ul {
    margin: 10px 0;
    text-align: center;
    li {
      line-height: 2rem;
      text-transform: uppercase;
      display: inline-block;
      color: #aebac8;
      padding: 0px 5px 0px 5px;
      &.active {
        color: $blue;
        font-weight: bold;
      }
      &:after {
        padding: 0px 10px;
        background: url('../img/grey_arrow.svg') right center no-repeat;
        content: "";
        content: "";
        height: 14px;
        width: 18px;
        display: inline-block;
        background-size: contain;
      }
      &:last-child {
        &:after {
          background: none;
          padding: 0;
          height: 0;
          width: 0;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.test_content {
  padding: $padding-half 0
}
.test_heading {
  padding: 20px 0 $padding-half 0;
  h1 {
    margin-bottom: 5px;
  }
  a.back {
    font: $normal 2.0rem/2.6rem $regular;
    margin-bottom: 30px;
    display: inline-block;
    background: url('../img/back_arrow.svg') left center no-repeat;
    padding-left: 20px;
  }
  p {
    font: $normal 2.4rem/3.6rem $regular;
  }
}
.declaration {
  position: relative;
  text-decoration: none;
  .next_button {
    font: $normal 2.6rem/3.6rem $regular;
    @include border-radius(10px);
    padding: 30px 80px 30px 30px;
    border: 1px solid $border;
    -webkit-box-shadow: 0px 15px 20px -3px #e6ecf0;
    -moz-box-shadow: 0px 15px 20px -3px #e6ecf0;
    box-shadow: 0px 15px 20px -3px #e6ecf0;
    margin-bottom: 30px;
    background: url('../img/grey_arrow.svg') right 30px center no-repeat;
    overflow: hidden;
    &:hover {
      background: #f6f8fc url('../img/grey_arrow.svg') right 30px center no-repeat;
      color: $blue;
    }
    svg {
      width: 100px;
      height: auto;
      background: $coral-tint;
      padding: 10px;
      @include border-radius(50%);
      margin-bottom: 10px;
      @media (min-width: $breakpoint-mobile) {
        float: left;
        margin-bottom: 0;
      }
    }
    .content {
      @media (min-width: $breakpoint-mobile) {
        margin-left: 150px;
      }
    }
  }
}


button[type="submit"], a.checkout-button {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 80px 15px 20px;
  margin: 10px 0px;
  font: $bold 1.6rem/1.6rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  color: $white;
  border: 1px solid $blue;
  @include border-radius(10px);
  float: right;
  background: $blue url('../img/white_arrow.svg') right 15px center no-repeat;
  &:hover {
    color: $white;
    background: $blue url('../img/white_arrow.svg') right 20px center no-repeat;
  }
  &:disabled {
    border: 1px solid #b7bbc4;
    background: #b7bbc4 url('../img/white_arrow.svg') right 20px center no-repeat;
  }
}

a.checkout-button {
  margin: 20px 0px;
}

.woocommerce-message {
  background: $white-bg;
  border: 1px solid $border;
  @include border-radius(10px);
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  color: $black;
}

a.remove {
  font: $bold 4rem/4rem $regular;
}

#customer_details {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  .col-1 {
    width: 100%;
    input, textarea, select {
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
  }
  .col-2 {
    width: 100%;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid $border;
    input, textarea, select {
      width: 100%;
      display: block;
      box-sizing: border-box;
    }
    input[type="checkbox"] {
      display: inline-block;
      width: auto;
    }
  }
}

#clinician_heading_field {
  margin-top: 20px;
}

p#clinician_field {
  border: 3px solid $coral;
  @include border-radius(10px);
  padding: 15px;
  background: $light_blue;
  margin-top: 20px;

}

span.optional {
  display: none;
}
@media (max-width: $breakpoint-tablet) {
  table.shop_table {
    max-width: 100%;
    th.product-thumbnail, td.product-thumbnail{
      display: none;
    }
    th {
      padding: 10px;
      font: $bold 1.5rem/2.6rem $regular;
    }
    td {
      padding: 10px;
      font: $normal 1.3rem/1.8rem $regular;
    }
    .input-text.qty {
      width: 20px;
    }
  }
}
table.woocommerce-checkout-review-order-table {
  td {
    text-align: center;
  }
  tfoot {
    td {
      border-top: 1px solid $border;
    }
    th {
      border-top: 1px solid $border;
      font-size: 14px;
    }
    tr.cart-subtotal {
      border-top: 5px solid green !important;
    }
  }
}
h3#order_review_heading {
  display: block;
  clear: both;
}
#order_review {
  float: left;
  width: 100%;
  ul {
    margin: 0;
    li {
      list-style: none;
      margin-left: 0;
    }
  }
}
#payment {
  margin: 40px 0 0 0;
  p {
    margin-bottom: 20px;
  }
}
// Country Select
.select2-container .select2-selection--single {
  height: 48px;
  border: 1px solid #adbac8;
  
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px;
  right: 10px;
}

body.woocommerce-page {
  .test_heading {
    padding: 20px 0;
  }
}
.woocommerce-cart-form {
  width: 100%;
}

.cart-collaterals {
  margin: 20px 0;
  width: 100%;
  h2 {
    margin: 40px 0 20px 0;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
      margin-left: 0;
    }
  }
}

.legal {
  float: right;
  clear: both;
}